
.lg-nav{
    display: none;
}

.sc-nav{
    display: none;
}

@media only screen and (min-width: 600px){

    .lg-nav{
        display: block;
    }

    .sc-nav{
        display: none;
    }
    #logo{
        font-family: 'Vujahday Script', cursive;
        font-size: 40px;
    }
    
    .lg-nav ul li{
        margin-right: 40px;
    }

    .lg-nav ul li a{
        color: black;
        text-decoration: none;
    }

}