<div class="hero-container container-fluid">
    <p class="pre-header">Unhappy with your website?</p> 

    <h2 class="top-header">We create beautiful and fast web services</h2>

    <img class="img-fluid" src="assets/heroImage.jpg" alt="">

    <h2 class="lower-header">Story, emotion and purpose</h2>
    
    <p>We help transform your ideas into real world applications that will outperform your toughest
        competition and help you achieve your strategic goals in short period of time.
    </p>

    <form action="">
        <label for="email">Want us to contact you?</label>
        <input name="email" class="email" type="text" placeholder="Email">
        <button type="submit">Join</button>
    </form>
</div>